<div class="brands">
  <div class="wrapper">
    <h2 class="headling">Бренды</h2>
    <div class="items-list">
      <div class="item"><span class="letter">7</span><a href="#" title="">77 kids</a></div>
      <div class="item"><span class="letter">A</span><a href="#" title="">Alice Pi</a></div>
      <div class="item"><span class="letter">B</span><a href="#" title="">BodeBo BodeBo2</a></div>
      <div class="item"><span class="letter">E</span><a href="#" title="">El Tempo</a></div>
      <div class="item"><span class="letter">I</span><a href="#" title="">Imps+Elfs</a></div>
      <div class="item"><span class="letter">S</span><a href="#" title="">Shampoodle Stillini</a></div>
    </div>
  </div>
</div>