<footer>
  <div class="top-footer">
    <div class="wrapper">
      <div class="contacts">
        <div class="tel"><a href="#" type="tel">(065) 26 56 415</a></div>
        <div class="email"><a href="#" type="email">info@clothes-things.com</a></div>
        <div class="callback">
          <a class="popup-with-move-anim" href="#small-dialog">
            <i class="icon"></i>
            <span>Заказать звонок</span>
          </a>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li><a href="#">О магазине</a></li>
          <li><a href="#">Как купить</a></li>
          <li><a href="#">Гарантии</a></li>
        </ul>
        <ul>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Доставка</a></li>
        </ul>
        <ul>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>

      <div class="rss-form">
        <h3>Подписка на новости</h3>
        <form>
          <input type="text" placeholder="Ваше имя*" class="inp-text">
          <input type="submit" value="" class="inp-submit">
        </form>
      </div>
      <div class="socials">
        <h3>Присоединяйся</h3>
        <ul>
          <li class="vk"><a href="#"></a></li>
          <li class="ok"><a href="#"></a></li>
          <li class="fb"><a href="#"></a></li>
          <li class="gp"><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="wrapper">
      <div class="copyright">Clothes & Things © Все права защищены, 2015</div>
    </div>
  </div>
</footer>