<header>
  <div class="top-header">
    <div class="wrapper">
      <nav class="menu">
        <ul>
          <li><a href="#">О магазине</a></li>
          <li><a href="#">Как купить</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Гарантии</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>

      <div class="user-authorization">
        <div class="signin"><a href="#">Вход</a></div>
        <div class="signup"><a href="#">Регистрация</a></div>
      </div>

      <div class="main-search">
        <form>
          <input type="text" placeholder="" class="inp-text">
          <input type="submit" value="" class="inp-submit">
        </form>
      </div>
    </div>
  </div>

  <div class="bottom-header">
    <div class="wrapper">
      <div class="contacts">
        <div class="tel"><a href="#">(065) <span>26 56 415</span></a></div>
        <div class="email">
          <a href="#" type="email">info@clothes-things.com</a>
        </div>
        <div class="callback">
          <a href="#">
            <i class="icon"></i>
            <span>Заказать звонок</span>
          </a>
        </div>
      </div>
      <div class="logo"><a href="#"></a></div>
      <div class="user-cart">
        <div class="cart">
          <a href="#">
            <i class="icon"></i>
            <span>Корзина</span>
          </a>
        </div>
        <div class="cart-details">
          <div class="total-items">Товаров: <span>0 шт.</span></div>
          <div class="total-summ">На сумму: <span>0,0 руб.</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-menu">
    <div class="wrapper">
      <ul>
        <li><a href="#">Одежда и обувь</a></li>
        <li><a href="#">Игрушки и игры</a></li>
        <li><a href="#">Школа</a></li>
        <li><a href="#">Спорт и активный отдых</a></li>
        <li><a href="#">Аксуссуары</a></li>
        <li><a href="#">Книги</a></li>
      </ul>
    </div>
  </div>
</header>