<!-- Callback modal form -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
  <div class="header">
    <h2>Заказать звонок</h2>
    <div class="small">Заполните поля ниже и в ближайшее время наш менеджер свяжется с Вами.</div>
    <form action="">
      <input type="text" name="username" value="" placeholder="Ваше имя">
      <input type="text" name="usertel" value="" class="tel-mask" placeholder="Телефон">
      <input type="submit" value="Отправить">
    </form>
  </div>
</div>
<!-- Header -->
<header>
  <a class="menu-trigger burger" href="#">
    <div class="burger-icon">
      <span></span>
    </div>
  </a>
  <div class="top-header">
    <div class="wrapper">
      <div class="mobile-menu">
        <nav class="menu">
          <ul>
            <li><a href="#">О магазине</a></li>
            <li><a href="#">Как купить</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Гарантии</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </nav>
        <div class="main-search">
          <form>
            <input type="text" placeholder="" class="inp-text">
            <input type="submit" value="" class="inp-submit">
          </form>
        </div>
        <div class="user-authorization">
          <div class="signin"><a href="#">Вход</a></div>
          <div class="signup"><a href="#">Регистрация</a></div>
        </div>
      </div>


    </div>
  </div>

  <div class="bottom-header">
    <div class="wrapper">
      <div class="contacts">
        <div class="tel"><a href="#">(065) <span>26 56 415</span></a></div>
        <div class="email">
          <a href="#" type="email">info@clothes-things.com</a>
        </div>
        <div class="callback">
          <a class="popup-with-move-anim" href="#small-dialog">
            <i class="icon"></i>
            <span>Заказать звонок</span>
          </a>
        </div>
      </div>
      <div class="logo"><a href="#"></a></div>
      <div class="user-cart">
        <div class="cart">
          <a href="#">
            <i class="icon"></i>
            <span>Корзина</span>
          </a>
        </div>
        <div class="cart-details">
          <div class="total-items">Товаров: <span>0</span> шт.</div>
          <div class="total-summ">На сумму: <span>0,0 руб.</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-menu">
    <div class="wrapper">
      <ul class="upper-level-menu">
        <li class="main-catalog">
          <a href="/"><span class="title-link">Одежда и обувь</span><span class="title-accordion"></span></a>
          <ul class="main-catalog-list">
            <li class="opened">
              <a href="/">Для новорожденных</a>
              <div class="secondary-menu">
                <div class="sub-category">
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Белье, носки, колготки</a></li>
                      <li><a href="#">Блузки, туники</a></li>
                      <li><a href="#">Брюки</a></li>
                      <li><a href="#">Верхняя одежда</a></li>
                      <li><a href="#">Водолазки, лонгсливы</a></li>
                      <li><a href="#">Джинсы</a></li>
                      <li><a href="#">Комбинезоны, костюмы</a></li>
                      <li><a href="#">Кофты, жакеты</a></li>
                      <li><a href="#">Купальники</a></li>
                      <li><a href="#">Одежда для дома</a></li>
                    </ul>
                  </div>
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Одежда для дома</a></li>
                      <li><a href="#">Платья</a></li>
                      <li><a href="#">Пуловеры, джемперы</a></li>
                      <li><a href="#">Сапоги</a></li>
                      <li><a href="#">Свитшоты, толстовки</a></li>
                      <li><a href="#">Топы</a></li>
                      <li><a href="#">Туфли</a></li>
                      <li><a href="#">Футболки</a></li>
                      <li><a href="#">Шорты, бермуды</a></li>
                      <li><a href="#">Юбки</a></li>
                    </ul>
                  </div>
                  <div class="col col-category">
                    <div class="icon icon-clothes-shoes"><img src="images/menu-categories/clothes-shoes.png" width="150" height="140" alt=""></div>
                    <div class="icon-category-title">ОДЕЖДА И ОБУВЬ</div>
                    <div class="icon-category-link"><a href="#" class="green-border-button">Перейти</a></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="/">Для девочек</a>
              <div class="secondary-menu">
                <div class="sub-category">
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Одежда для дома</a></li>
                      <li><a href="#">Платья</a></li>
                      <li><a href="#">Пуловеры, джемперы</a></li>
                      <li><a href="#">Сапоги</a></li>
                      <li><a href="#">Свитшоты, толстовки</a></li>
                      <li><a href="#">Топы</a></li>
                      <li><a href="#">Туфли</a></li>
                      <li><a href="#">Футболки</a></li>
                      <li><a href="#">Шорты, бермуды</a></li>
                      <li><a href="#">Юбки</a></li>
                    </ul>
                  </div>
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Белье, носки, колготки</a></li>
                      <li><a href="#">Блузки, туники</a></li>
                      <li><a href="#">Брюки</a></li>
                      <li><a href="#">Верхняя одежда</a></li>
                      <li><a href="#">Водолазки, лонгсливы</a></li>
                    </ul>
                  </div>
                  <div class="col col-category">
                    <div class="icon icon-clothes-shoes"><img src="images/menu-categories/clothes-shoes.png" width="150" height="140" alt=""></div>
                    <div class="icon-category-title">ОДЕЖДА И ОБУВЬ</div>
                    <div class="icon-category-link"><a href="#" class="green-border-button">Перейти</a></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="/">Для мальчиков</a>
              <div class="secondary-menu">
                <div class="sub-category">
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Белье, носки, колготки</a></li>
                      <li><a href="#">Блузки, туники</a></li>
                      <li><a href="#">Брюки</a></li>
                      <li><a href="#">Верхняя одежда</a></li>
                      <li><a href="#">Водолазки, лонгсливы</a></li>
                      <li><a href="#">Джинсы</a></li>
                      <li><a href="#">Комбинезоны, костюмы</a></li>
                      <li><a href="#">Кофты, жакеты</a></li>
                      <li><a href="#">Купальники</a></li>
                      <li><a href="#">Одежда для дома</a></li>
                    </ul>
                  </div>
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Одежда для дома</a></li>
                      <li><a href="#">Платья</a></li>
                      <li><a href="#">Пуловеры, джемперы</a></li>
                      <li><a href="#">Сапоги</a></li>
                      <li><a href="#">Свитшоты, толстовки</a></li>
                      <li><a href="#">Топы</a></li>
                      <li><a href="#">Туфли</a></li>
                      <li><a href="#">Футболки</a></li>
                      <li><a href="#">Шорты, бермуды</a></li>
                      <li><a href="#">Юбки</a></li>
                    </ul>
                  </div>
                  <div class="col col-category">
                    <div class="icon icon-clothes-shoes"><img src="images/menu-categories/clothes-shoes.png" width="150" height="140" alt=""></div>
                    <div class="icon-category-title">ОДЕЖДА И ОБУВЬ</div>
                    <div class="icon-category-link"><a href="#" class="green-border-button">Перейти</a></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="/">Для девушек</a>
              <div class="secondary-menu">
                <div class="sub-category">
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Одежда для дома</a></li>
                      <li><a href="#">Платья</a></li>
                      <li><a href="#">Пуловеры, джемперы</a></li>
                      <li><a href="#">Сапоги</a></li>
                      <li><a href="#">Свитшоты, толстовки</a></li>
                      <li><a href="#">Топы</a></li>
                      <li><a href="#">Туфли</a></li>
                      <li><a href="#">Футболки</a></li>
                      <li><a href="#">Шорты, бермуды</a></li>
                      <li><a href="#">Юбки</a></li>
                    </ul>
                  </div>
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Белье, носки, колготки</a></li>
                      <li><a href="#">Блузки, туники</a></li>
                      <li><a href="#">Брюки</a></li>
                      <li><a href="#">Верхняя одежда</a></li>
                      <li><a href="#">Водолазки, лонгсливы</a></li>
                    </ul>
                  </div>
                  <div class="col col-category">
                    <div class="icon icon-clothes-shoes"><img src="images/menu-categories/clothes-shoes.png" width="150" height="140" alt=""></div>
                    <div class="icon-category-title">ОДЕЖДА И ОБУВЬ</div>
                    <div class="icon-category-link"><a href="#" class="green-border-button">Перейти</a></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="/">Для юношей</a>
              <div class="secondary-menu">
                <div class="sub-category">
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Одежда для дома</a></li>
                      <li><a href="#">Платья</a></li>
                      <li><a href="#">Пуловеры, джемперы</a></li>
                      <li><a href="#">Сапоги</a></li>
                      <li><a href="#">Свитшоты, толстовки</a></li>
                      <li><a href="#">Топы</a></li>
                      <li><a href="#">Туфли</a></li>
                      <li><a href="#">Футболки</a></li>
                      <li><a href="#">Шорты, бермуды</a></li>
                      <li><a href="#">Юбки</a></li>
                    </ul>
                  </div>
                  <div class="col col-menu">
                    <ul>
                      <li><a href="#">Белье, носки, колготки</a></li>
                      <li><a href="#">Блузки, туники</a></li>
                      <li><a href="#">Брюки</a></li>
                      <li><a href="#">Верхняя одежда</a></li>
                      <li><a href="#">Водолазки, лонгсливы</a></li>
                    </ul>
                  </div>
                  <div class="col col-category">
                    <div class="icon icon-clothes-shoes"><img src="images/menu-categories/clothes-shoes.png" width="150" height="140" alt=""></div>
                    <div class="icon-category-title">ОДЕЖДА И ОБУВЬ</div>
                    <div class="icon-category-link"><a href="#" class="green-border-button">Перейти</a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="main-catalog"><a href="#">Игрушки и игры</a></li>
        <li class="main-catalog"><a href="#">Школа</a></li>
        <li class="main-catalog"><a href="#">Спорт и активный отдых</a></li>
        <li class="main-catalog"><a href="#">Аксессуары</a></li>
        <li class="main-catalog"><a href="#">Книги</a></li>
      </ul>
    </div>
  </div>
</header>