@media screen and (max-width: 1260px)
  html,
  body,
  footer,
  .container,
  .container:after
    min-width 240px
  .wrapper
    width 96%
  .headling
    margin-bottom 4%
  .top-header
    .main-search
      position absolute
      width 140px
      right 200px
      top 0
      &.active
        width 99%
        right 0.5%
  .menu li:first-child a
    padding-left 12px
  .upper-level-menu
    display table
    .main-catalog
      width auto !important
      float none
      display table-cell
      min-width 100px
      > a
        padding 0
  .main-menu
    .secondary-menu
      .col-menu
        a
          padding-left 20px
          &:after
            left 0
          &:hover
            padding-left 35px
            &:after
              content ''
              left 20px
  .main-carousel
    margin-bottom 4%
    article
      width 40%
      position relative
      z-index 20
    .images
      position absolute
      right 0
      top 0
      width 100%
      height 100%
      background-size contain
  .main-categories
    height 870px
    margin-bottom 4%
    .item
      background-size cover
    .category-1,
    .category-2,
    .category-4,
    .category-5,
    .category-6
      height 32%
    .category-2,
    .category-3,
    .category-5,
    .category-6
      width 32%
    .category-1,
    .category-4
      width 66%
    .category-1,
    .category-3,
    .category-5
      margin-right 2%
    .category-1,
    .category-2,
    .category-4
      margin-bottom 2%
    .category-3
      height 66%
  .main-items
    .item
      width 32%
      margin-left 2%
      margin-bottom 2%
      &:nth-child(4n+1)
        clear none !important
        margin-left 2% !important
      &:nth-child(3n+1)
        clear left !important
        margin-left 0 !important
      &:hover
        &:after
          content ''
          width 110%
          height 20px
          top -2%
          position absolute
          left -5%
          border 3px solid $green
          border-bottom none
          z-index 20
        .item-wrapper
          width 110%
          left -5%
          top 0
          padding 0 5%
          border none
          border-bottom 3px solid $green
          &:after,
          &:before
            content ''
            position absolute
            top 0
            width 3px
            height 100%
            background-color $green
          &:before
            left 0
          &:after
            right 0
  .popular-items
    .item
      width 23.5%
      margin-left 2%
      margin-bottom 2%
      &:nth-child(5n+1)
        margin-left 2%
        float left
        clear none
      &:nth-child(3n+1)
        clear none !important
        margin-left 2% !important
      &:nth-child(4n+1)
        clear left
        margin-left 0 !important
  .company-story article:after
    right -25%
  .top-footer
    padding-top 30px
  .top-footer .menu
    width 450px
  .top-footer .rss-form h3
    margin-bottom 5px
  .top-footer .rss-form
    margin-left 0
  .top-footer .socials
    width 230px
    margin-top 10px
  .top-header a
    padding 0 7px
  .owl-prev
    left 0
  .owl-next
    right 0
  .main-carousel .carousel-initial .wrapper
    padding-left 40px
    padding-right 40px
  .main-carousel article h2
    font-size 38px
    line-height 1
  .popular-items
    .hidden-details
      .sizes
        .list
          li
            &:nth-child(4n)
              margin-right 10px
            &:nth-child(5n+1)
              margin-left 0
              clear left
  .main
    .sidebar
      width 25%
    .content
      width 73%
  .styledSelect,
  .select
    width 170px
  .styledSelect:after
    right -10px
  .profile-item
    .gallery
      width 40%
    .details
      width 60%
    .lead-profile-image-thumb a
      width 23.5%
      margin-left 2%
      margin-bottom 2%
  .profile-item .tabs-info .tabs-content .tables table
    width 45%
  .profile-item .tabs-info .tabs-content .tables table:first-child
    margin-right 5%
  .profile-item .details .footer .prices
    display none
  .profile-item .details .footer .compare,
  .profile-item .details .footer .favourite,
  .profile-item .details .footer .fast-buy
    width 32%
  .profile-item .details .footer .compare,
  .profile-item .details .footer .favourite
    margin-right 2%
  .filtred-items
    .items-list.view-list
      .item
        height auto
        .image, .hidden-details
          width 25%
        .description
          width 50%
          position static
          padding-bottom 100px
          clearfix()
          .item-footer
            width 50%
            left 25%
            padding-left 30px
            box-shadow none
            padding-right 30px
        .item-wrapper
            border none !important
        &:hover
          &:after
            display none !important
  .main-items .hidden-details .colors .list li,
  .main-items .hidden-details .sizes .list li,
  .main-items .hidden-details .colors .list li:nth-child(4n),
  .main-items .hidden-details .sizes .list li:nth-child(4n)
    margin-left 10px
    margin-right 0
  .main-items .hidden-details .colors .list li:nth-child(3n+1),
  .main-items .hidden-details .sizes .list li:nth-child(3n+1)
    margin-left 0
    clear left
@media screen and (max-width: 960px)
  .top-header a
    padding 0 5px
  .menu-trigger
    display block
  .mobile-menu
    position absolute
    left -2.1%
    top 42px
    width 320px
    background-color $brown
    z-index 25
    padding-top 30px
    box-shadow 0 0 3px 1px rgba(0,0,0,.35)
    transform translateX(-110%)
    anim(transform , .25s)
    .main-search
      width 100%
      right 0
      margin 0
      &.active
        width 100%
        right 0
    .menu
      float none
      width 100%
      ul
        width 100%
      li
        float none
        width 100%
        a
          padding 0 20px !important
  header
    overflow hidden
  header.open
    overflow visible
    .mobile-menu.open
      transform translateX(0%)
  .bottom-footer
    height 35px
    line-height 35px
  .top-footer
    padding-top 15px
    height 210px
    .menu
      a
        padding-left 0 !important
    .menu,
    .contacts,
    .rss-form,
    .socials
      width 50%
      float left
      margin-left 0
      margin-right 0
    .socials
      text-align right
      margin-top 0
      ul
        margin-top 0
        li
          float right
          margin-left 10px
          margin-right 0
  .upper-level-menu .main-catalog
    min-width 0
  .upper-level-menu .main-catalog > a
    font-size 14px
  header
    overflow visible
  .main-catalog-list .icon-category-link .green-border-button
    display inline-block !important
    height 40px !important
  .main-menu .secondary-menu .col
    li
      display table
      width 100%
    a
      padding-top 0
      padding-bottom 0
      height 32px
      display table-cell
      vertical-align middle
  .main-carousel article .details
    margin-top 0
  .main-carousel article h2
    padding-bottom 15px
    margin-bottom 15px
  .popular-items
    .item
      height 570px
    .item-footer .top
      height 90px
      .price,
      .add-to-cart
        width 100%
        a
          margin 10px 0
  .company-story article p
    position relative
    z-index 10
  .top-header .user-authorization
    width 100%
    float none
    margin-left 0
    border-top 1px solid #a39f9e
    a
      padding 0 20px
  .bottom-header,
  .bottom-header .wrapper
    position static
  .bottom-header .contacts .tel
    position absolute
    right: 130px;
    top: 5px;
    a
      color #fff
  .bottom-header .user-cart
    margin-top 0
    position absolute
    right 2%
    top 0
  .bottom-header .user-cart .cart span
    display none
  .bottom-header .user-cart .cart i
    position absolute
    right 2%
    top 5px
  .bottom-header .user-cart .cart-details .total-items
    font-size 0
    span
      width 24px
      height 24px
      line-height 38px
      text-align center
      position absolute
      right 2%
      top 2px
      font-size 11px
      color #fff
  .bottom-header .user-cart .cart-details .total-summ
    font-size 0
    span
      width 100px
      font-size 15px
      color #fff
      position absolute
      right 30px
      text-align right
      top 0
      height 35px
      line-height 35px
  .bottom-header .user-cart
    width 100px
    margin-bottom 0
    margin-top 5px
  .bottom-header .contacts .email,
  .bottom-header .contacts .callback
    display none
  .bottom-header .logo
    top 90px
    margin-top 0
  .category-lead .image
    width 220px
  .profile-item .details .footer .favourite
    margin-right 0
  .profile-item .details .footer .compare,
  .profile-item .details .footer .favourite,
  .profile-item .details .footer .fast-buy
    width 49%
    margin-bottom 2%
  .profile-item
    .tabs-info
      clearfix()
      .tabs-nav
        width 25%
        float left
        border 1px solid #bebfb5
        li
          width 100%
          a.current
            border none
            span
              border-color #fff
              color $green
          a
            border none
            span
              line-height 15px
      .tabs-content
        width 75%
        position relative
        left -1px
        float left
        border-top 1px solid #bebfb5
        .tables table
          width 100%
          margin-right 0
          margin-bottom 0
  .top-sales, .viewed-items
    .item
      height 445px !important
      &:last-child
        display none
      .price
        text-align left !important
      .item-footer .top .add-to-cart a
        margin 10px 0 !important
  .filtred-items .header .options .change-view
    display none
  .filtred-items .header .options
    margin-right 10px
  .select-options
    right -10px
    left auto
@media screen and (max-width 920px)
  .main-items .item-footer .price,
  .main-items .item-footer .add-to-cart
    width 100%
    text-align center
    a
      margin 10px auto
  .main-items .item-footer .top
    height 90px
  .main-items .item
    height 570px
  .sidebar-filters .price .price-inputs input
    width 45%
    padding 0 5px
    &:last-child
      margin-left 10%
  .popular-items .item-footer .top .add-to-cart a
    margin 10px auto
@media screen and (max-width 840px)
  .main-catalog-list
    width 200px
  .main-menu .secondary-menu
    left 200px
  .main-catalog-list > li > a
    padding 14px
  .profile-item .details .footer .top
    position relative
  .profile-item .details .footer .add-to-cart
    position absolute
    right 0
    bottom -120px
    width 49%
  .profile-item .details .footer .main-price
    text-align right
  #cloud-zoom-big,
  .cloud-zoom-lens
    display none !important
  .lead-img, .lead-img *
    cursor pointer !important
  .group-items
    display block
    .item
      padding 15px
@media screen and (max-width 790px)
  .popular-items .item:nth-child(5n+1)
    clear none !important
    margin-left 2% !important
  .popular-items .item:nth-child(4n+1)
    clear: none !important
    margin-left: 2% !important
  .popular-items .item:nth-child(3n+1)
    clear left !important
    margin-left 0 !important
  .popular-items .item
    width 32%
  .popular-items .item-footer .top .price a,
  .popular-items .item-footer .top .add-to-cart a
    margin 0
  .popular-items .item-footer .top .price,
  .popular-items .item-footer .top .add-to-cart
    width auto
  .popular-items .item-footer .top
    height 40px
  .popular-items .item
    height 520px
  .main-carousel article p
    font-size 15px
  .company-story article:after
    right -25%
    width 600px
    height 600px
    margin-top -350px
    background-size cover
  .popular-items .item-footer .top .price
    text-align left
  .top-sales, .viewed-items
    .item:nth-child(4)
      display none
@media screen and (max-width 768px)
  .main-menu
    .wrapper
      width 100%
  .upper-level-menu
    display block
    height auto
    border-bottom none
    border-top: 1px solid #bebfb5
    .main-catalog
      display block
      > a
        text-align left
        border-bottom: 1px solid #bebfb5
        position relative
        font-size 15px
        padding 10px 2%
        &:after
          content ''
          position absolute
          right 2%
          top 50%
          background: url('../images/sprite.png') no-repeat -213px -49px;
          width: 8px;
          height: 14px;
          margin-top -(@height/2)
          anim(transform, .25s)
        &:hover
          font-weight 700
          background-color $green
          &:after
            background-position -249px -49px
      .main-catalog-list
        position static
        display none
        height auto
        box-shadow none
        width 100%
        background-color #fff
        anim(height, .25s)
      .main-catalog-list > li > a
        padding-left 40px
        font-size 14px
        color $black
        border-top none
        border-bottom 1px solid #bebfb5
        &:after
          display none
        &:hover
          background-color $green
          color #fff
    .main-catalog.show
      > a
        font-weight: 700;
        background-color: #67d6b8;
        border-bottom 1px solid $green
        &:after
          transform rotate(90deg)
          background-position -249px -49px
      .main-catalog-list
        display block
  .secondary-menu,
  .main-catalog.opened-menu:after,
  .main-catalog.opened-menu:before
    display none !important
  .upper-level-menu .main-catalog > a
    position relative
    .title-link
      position relative
      display inline-block
      height 100%
      z-index 20
    .title-accordion
      position absolute
      left 0
      top 0
      width 100%
      height 100%
      z-index 10
  .main-catalog-list .opened > a
    background-color #fff
  .content-carousel
    .owl-prev, .owl-next
      display block !important
      height 26px
      width 16px
    .owl-controls
      position static
    .owl-nav
      position absolute
      right 0
      width 50px
      top -13px
      .owl-prev
        background: url('../images/sprite.png') no-repeat -117px -4px;
        right 20px
        &:hover
          background-position -156px -4px;
      .owl-next
        background-position -178px -4px
        right 0
        &:hover
          background-position -138px -4px
  .bottom-header .logo
    top 135px
  .main
    position static
    .sidebar, .content
      width 100%
  .accordion.categories
    display none
  .sidebar-filters section
    height 0
    overflow hidden
    margin-bottom 0 !important
  .sidebar-filters .hide section
    height auto
    overflow visible
    margin-bottom 15px !important
  .sidebar-filters .buttons
    text-align center
  .sidebar-filters .buttons a
    width 220px
    margin 0 auto
  .sidebar-filters
    top 55px
    margin-bottom 2%
    position relative
  .main-catalog-list
    li.opened
      > a
        position relative
        &:before
          content ''
          background: url('../images/sprite.png') no-repeat -213px -49px;
          width: 8px;
          height: 14px;
          position absolute
          right 20px
          top 50%
          margin-top -(@height/2)
          anim(transform, .25s)
        &:hover
          &:before
            background-position -249px -49px
        .title-link-inner
          position: relative;
          display: inline-block;
          height: 100%;
          z-index: 10;
        .title-accordion-inner
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
      &:first-child > a
        border-top: 1px solid #fff;
      &.open-sub-sub-menu
        > a
          background-color $green
          color $black
          border-bottom-color #fff
          &:before
            background-position -249px -49px
            transform rotate(90deg)
        .secondary-menu
          display block !important
    .secondary-menu
      width 100% !important
      box-shadow none
      height auto
      border none
      position static
      display none !important
      .sub-category
        padding 10px 0
        border-bottom: 1px solid #bebfb5;
      .col-category
        display none !important
      .col
        width 100%
        padding-bottom 0
        padding-top 0
        a
          padding-left 60px
  .main-menu.tabled,
  .sidebar-filters
    display none
  .mobile-menu-buttons
    position absolute
    top 42px
    width 100%
    text-align right
    right 0
    height 60px
    background-color $brown
    a
      display inline-block
      width 220px
      height 40px
      line-height 40px
      margin-top 10px
      background-color #a39f9e
      color #fff
      border 1px solid #a39f9e
      text-align center
      text-transform uppercase
      &.active
        background-color #a39f9e - 25%
        box-shadow inset 0 0 5px 2px rgba(163, 159, 158, .45)
        color #fff
  .sidebar
    .mobile-menu-buttons
      right auto
      left 0
      text-align right
      a
        margin-right 245px
  .mobile-menu-show-categories
    z-index 20
    position relative
    margin-right 2%

  .main-menu
    display none
  .content
    padding-top 15px
  .main-menu
    margin-bottom 20px
  .pager
    margin-top 35px
  .bottom-header
    height 200px
  .main-menu,
  .sidebar-filters
    position absolute
    left 0
    width 100%
    top 102px
    z-index 19
    background-color #fff
    box-shadow 0 4px 10px 0px rgba(0,0,0,.5)
  .profile-item .lead-profile-image-thumb a
    height 65px
    line-height 59px
  .main-items .hidden-details .colors .list li:nth-child(3n+1),
  .main-items .hidden-details .sizes .list li:nth-child(3n+1)
    clear none
    margin-left 2%
  .main-items .hidden-details .colors .list li,
  .main-items .hidden-details .sizes .list li
    width 20%
    margin-left 2%
    margin-bottom 2%
  .main-items .hidden-details .colors .list li,
  .main-items .hidden-details .sizes .list li,
  .main-items .hidden-details .colors .list li:nth-child(4n),
  .main-items .hidden-details .sizes .list li:nth-child(4n)
    margin-left 2%
  .main-items .hidden-details .sizes
    padding-bottom 20px

@media screen and (max-width 740px)
  footer,
  .top-footer
    height auto
    clearfix()
    text-align center
  .container:after
    display none
  .container
    margin-bottom 0
  .top-footer .menu, .top-footer .contacts, .top-footer .rss-form, .top-footer .socials
    width 100%
  footer
    .callback, .menu, .rss-form
      margin-bottom 30px
    .top-footer .socials
      text-align center
    .top-footer .socials ul li
      float none
      display inline-block
      margin-top 10px
      margin-bottom 20px
  .main-carousel
    display none !important
  .main-categories
    margin-top 4%
  .main-categories .item
    width 49%
    height 32%
    margin-right 0
    margin-left 2%
    background-position: 50% 100%
    &:nth-child(2n+1)
      margin-left 0
      clear left
    .title
      padding 15px

  .main-items .item:nth-child(3n+1)
    clear none !important
    margin-left 4% !important
  .main-items .item:nth-child(2n+1)
    clear left !important
    margin-left 0 !important
  .main-items .item
    width 48%
    margin-left 4%
  .main-items
    .item
      &:hover
        &:after
          content ''
          width 104%
          height 20px
          top -2%
          position absolute
          left -2%
          border 3px solid $green
          border-bottom none
          z-index 20
        .image
          border-color #fff
        .item-wrapper
          width 104%
          left -2%
          top 0
          padding 0 2%
          border none
          border-bottom 3px solid $green
          &:after,
          &:before
            content ''
            position absolute
            top 0
            width 3px
            height 100%
            background-color $green
          &:before
            left 0
          &:after
            right 0
  .main-items .hidden-details .colors .list li:nth-child(4n),
  .main-items .hidden-details .sizes .list li:nth-child(4n)
    margin-right 10px
  .brands .item
    width 23%
    margin-right 0
    margin-left 2%
    padding-right 10px
  .brands .item:nth-child(5n+1)
    margin-left: 2%
    clear: none
  .brands .item:nth-child(4n+1)
    margin-left: 0
    clear: left
  .company-story
    padding 50px 0
  .company-story article:after
    display none
  .company-story article
    width 100%
  .main-items .item
    height 545px
  .pager
    margin-top 75px
  .category-lead
    display block
    height auto
    .image,
    .text
      display block
  .category-lead .text h2
    padding-top 10px
    padding-bottom 0
  .popular-items .item
    height 520px
  .popular-items .item:nth-child(5n+1)
    margin-left 4% !important
  .popular-items .item:nth-child(2n+1)
    margin-left 0% !important
  .top-sales, .viewed-items
    display none
  .profile-item .details .availability .no-availability .status
    display block
  .profile-item .details .title
    display block
    padding-bottom 10px
  .profile-item .details
    width 50%
  .profile-item .gallery
    width 50%
  .profile-item .details .footer .compare,
  .profile-item .details .footer .favourite,
  .profile-item .details .footer .fast-buy
    width 100%
    margin-right 0
    margin-left 0
  .profile-item .details .footer .bottom
    padding-top 30px
  .profile-item .details .header
    margin-bottom 15px
  .profile-item .details .colors
    margin-top 20px
    margin-bottom 20px
  .profile-item .details .sizes
    margin-bottom 20px
  .profile-item .details .footer .top
    display block
    padding 10px
    height auto
    .counter
      display block
      margin 0 auto
      float none
      width 70px
      height 35px
    .main-price
      display block
      text-align center
      width 100%
      padding 5px 0
  .profile-item .details .footer .add-to-cart
    width 100%
    top 95px
  .filtred-items .header .total
    width 100%
  .filtred-items .header .options
    margin-right 4%
    margin-top 20px
    margin-bottom 20px
@media screen and (max-width 670px)
  .group-items .item .helper
    display block
  .group-items .item .column,
  .group-items .item .plus,
  .group-items .item .equal,
  .group-items .item .total
    display block
  .group-items .item .column,
  .group-items .item .plus,
  .group-items .item .equal,
  .group-items .item .total
    width 200px
    margin 0 auto
    max-width 200px
    text-align center
  .group-items .item .column .image
    margin 0 auto
  .group-items .item .column .title,
  .group-items .item .column .price
    text-align center
@media screen and (max-width 568px)
  .shares .item .image,
  .news .item .image
    height auto
    img
      width 100%
      height auto
  .brands
    display block
    .item
      width 49%
      margin-left 2%
      &:nth-child(5n+1)
        clear none
        margin-left 2%
      &:nth-child(2n+1)
        margin-left 0
        clear left
  .pager ul li
    margin-bottom 10px
  .profile-item .details .colors > div
    margin-bottom 5px
    margin-right 5px
    margin-left 0
  .profile-item .tabs-info .tabs-nav li a
    padding 0 10px
  .profile-item .tabs-info .tabs-content
    padding 10px
  .mobile-menu-buttons a
    width 45%
  .sidebar .mobile-menu-buttons
    text-align left
  .mobile-menu-show-filters
    margin-right 0
    margin-left 2%
  .sidebar .mobile-menu-buttons a
    margin-right 0
  .pager
    text-align center
  .pager ul li:last-child a,
  .pager ul li:first-child a
    width auto
    padding-left 5px
    padding-right 5px
  .pager ul li a,
  .pager ul li span
    width 20px
    height 20px
    line-height 18px
    font-size 13px
  .pager ul li > span
    vertical-align top
@media screen and (max-width 460px)
  .main-categories
    height auto
  .main-categories .item
      width: 100%;
      height: 200px
      margin-right: 0;
      margin-left: 0;
      background-position: 50% 100%;
      margin-bottom 2%
  .main-items .item
    width 96% !important
    margin-left 2% !important
  .bottom-header .contacts .tel
    width 100%
    height 42px
    line-height 32px
    right 0
    text-align center
    font-size 20px
    span
      font-size 20px
  .popular-items .hide
    display none
  .container .main-items .item
    margin-left 2% !important
    margin-bottom 8%
  .filtred-items .header .options .sort,
  .filtred-items .header .options .change-view,
  .filtred-items .header .options
    width 100%
  .filtred-items .header .options .sort
    padding-left 2%
  .filtred-items .header .options .change-view,
  .category-lead
    display none
  .sidebar .mobile-menu-buttons
    right auto
    left 0
    text-align left
  .mobile-menu-buttons a
    font-size 13px
  .mobile-menu-show-categories
    position relative
    z-index 20
  .main-items .item-footer .top
    height 40px
  .main-items .item-footer .top .price,
  .main-items .item-footer .top .add-to-cart
    width auto
  .main-items .item-footer .top .price
    text-align left
  .main-items .item
    height 495px
  .main-items
    padding-top 20px
  .profile-item .tabs-info .tabs-nav
    width 35%
  .profile-item .tabs-info .tabs-content
    width 65%
  .profile-item .tabs-info .tabs-content .tables table td
    line-height 1
    padding 5px
    display block
  .profile-item .tabs-info .tabs-content p
    padding 20px 0
@media screen and (max-width 420px)
  .profile-item .gallery,
  .profile-item .details
    width 100%
    padding-left 0
  .profile-item .header
    clearfix()
    padding-top 20px
  .profile-item .details .articul,
  .profile-item .details .brand
    float left
@media screen and (max-width 380px)
  .top-footer .menu > ul
    width 100%
  .bottom-footer
    height auto
    line-height 1.2
    .copyright
      padding 10px 0
  .category-lead
    display none
  .mobile-menu-buttons a
    font-size 11px
  .pager
    margin-top 15px
    margin-bottom 20px
  .brands
    display block
    .item
      width 100%
      clear none
      margin-left 0 !important
  .pager ul li
    margin 0 2px
@media screen and (max-width 320px)
  .bottom-header .contacts .tel
    font-size 18px
    text-align left
    padding-left 60px
    span
      font-size 18px





