/*!=================
  Base layout
====================*/
html, body
  height 100%
  min-width $min-width + 50
.container
  min-height 100%
  min-width $min-width
  margin-bottom -($footer-height)
  &:after
    content ''
    display block
    height $footer-height + $footer-margin-top
footer, .container:after
  height $footer-height
  min-width: $min-width
.wrapper
  width $min-width
  position relative
  margin 0 auto
  height 100%
.main
  clearfix()
  .sidebar
    width 200px
    float left
  .content
    float right
    width 906px
    &.full
      width 100%


/*!=================
  Basic elements
====================*/

html{
  open-sans()
  regular()
  font-size 15px
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
}
img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.inp-textarea,
textarea{
  max-height: 400px;
  max-width: 100%;
}
i.icon
  position relative
  display inline-block

::-moz-selection
  background-color $green
  color #000
::selection
  background-color $green
  color #000

/*!=================
  Extended classes
====================*/
.headling
  font-size 30px
  line-height 1
  display inline-block
  margin-bottom 40px
  letter-spacing .5px
  &.green
    color $green
  &.red
    color $red
  &.small
    font-size 24px
    margin-bottom 15px
  &.bold
    semi-bold()
    text-transform uppercase

.green-border-button
  display inline-block
  border 1px solid $green
  width 145px
  height 40px
  line-height 38px
  text-align center
  color $black
  anim(all, .25s)
  &:hover
    background-color $green
    color #fff

.accordion-content
  display none
  anim(all, .25s)
  &.opened
    display block

/* Breadcrumbs */
.breadcrumbs
  float left
  width 100%
  margin 30px 0
  ul
    clearfix()
  li
    position relative
    float left
    &:after
      content '/'
      color $gray
      padding-left 5px
      padding-right 5px
    &:last-child:after
      display none
  a
    regular-italic()
    color $gray
    anim(all, .25s)
    &:hover
      text-decoration underline
      color $black
  span
    regular-italic()
    color $green
    cursor default

/* Pager */
.pager
  float left
  width 100%
  text-align right
  margin-top 10px
  margin-bottom 50px
  ul
    display inline-block
    clearfix()
    li
      float left
      margin 0 5px
      line-height 38px
      a
        display block
        width 42px
        height 38px
        border 1px solid $gray
        text-align center
        line-height 36px
        vertical-align middle
        color $black
        anim(all, .25s)
        &:hover
          border-color $green
          color $green
      span
        display inline-block
        vertical-align bottom
        line-height 48px
        height 38px
        width 20px
        text-align center
        cursor default
      &:last-child,
      &:first-child
        a
          width 110px
      &:last-child
        margin-right 0

/* Checkboxes */
input[type="checkbox"]
  display none
  & + label
      .icon
        display inline-block
        width 18px
        height 18px
        vertical-align middle
        border 1px solid #d8d7d6
        cursor pointer
        background-color #fff
        &:hover
          border-color $green
      .text
        display inline-block
        vertical-align middle
        height 18px
        line-height 18px
        font-size 14px
        padding-left 6px
input[type="checkbox"] + label
  cursor pointer
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  -o-user-select none
  user-select none
input[type="checkbox"]:checked
  & + label .icon
      background $green
      box-shadow inset 0 0 0 3px white

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:active
  background $green !important
.mCSB_inside > .mCSB_container
  margin-right 15px
.mCSB_scrollTools
  width 13px

/* Tabs */
.tabs {display: none;visibility: hidden;}
.js-tabby .tabs {display: block;visibility: visible;}
.tabs a,.tabs button {cursor: pointer;}
.js-tabby .tabs-pane {display: none;visibility: hidden;}
.tabs-pane.current{display: block;visibility: visible;}
.tabs:before,.tabs:after {display: table;content: "";}
.tabs:after {clear: both;}

/* Counter */
.counter
  position relative
  float left
  width 70px
  height 100%
  margin-left 10px
  form
    height 100%
    input
      width 38px
      position absolute
      left 50%
      margin-left -(@width/2)
      user-select none
      text-align center
      color #3f4147
      font-size 18px
      line-height 37px
      border none
      background-color #f2f2f2
  .plus, .minus
    width: 16px;
    height: 15px;
    position absolute
    top 50%
    margin-top -(@height/2)
    text-indent -9999px
    user-select none
    cursor pointer
    border none
  .plus
    background: url('../images/sprite.png') no-repeat -171px -95px;
    right 0
    &.hover,
    &:hover
      background-position -195px -95px
    &.disabled
      background-position -171px -95px !important
      cursor default
  .minus
    left 0
    background: url('../images/sprite.png') no-repeat -122px -95px;
    &.hover,
    &:hover
      background-position -147px -95px
    &.disabled
      background-position -122px -95px !important
      cursor default
  &.hover
    .plus
      background-position -195px -95px
    .minus
      background-position -147px -95px

.top-sales,
.viewed-items
  border-bottom 1px solid #ededed
  .items-list
    margin-top 20px
  .item
    height 385px
    .title
      height 70px
  .item:nth-child(5n+1)
    margin-left 0
    clear left
.mobile-menu-buttons a
  display none