/*!=================
  Base layout
====================*/
html, body
  height 100%
  min-width $min-width + 50
.container
  min-height 100%
  min-width $min-width
  margin-bottom -($footer-height)
  &:after
    content ''
    display block
    height $footer-height + $footer-margin-top
footer, .container:after
  height $footer-height
  min-width: $min-width
.wrapper
  width $min-width
  position relative
  margin 0 auto
  height 100%
/*!=================
  Basic elements
====================*/

html{
  open-sans()
  regular()
  font-size 15px
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
}
img{
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.inp-textarea,
textarea{
  max-height: 400px;
  max-width: 100%;
}
i.icon
  position relative
  display inline-block

/* Owl carousel custom styles */
.owl-item
  opacity 0
  anim(opacity, .25s)
  &.active
    opacity 1
.content-carousel
  .owl-item
    opacity 1
.owl-controls
  position absolute
  left 0
  top 0
  width 0
  height 100%
.owl-next,
.owl-prev
  width: 27px;
  height: 47px;
  background-image url('../images/sprite.png')
  background-repeat no-repeat
  text-indent -9999px
  position absolute
  top 50%
  margin-top -(@height/2)
  z-index 20
  cursor pointer
  &.disabled
    opacity .2
    cursor default
.owl-prev
  background-position 0 -35px
  left -47px
  &:hover
    background-position -71px -35px
.owl-next
  background-position -111px -35px
  right -47px
  &:hover
     background-position -39px -35px
.owl-n,
.owl-d
  position absolute
  left 0
  top 0
  height 100%
  width 100%
.owl-d
  height 22px
  bottom 10px
  top auto
  text-align right
  .wrapper
    padding-right 5px
.owl-dot
  display inline-block
  vertical-align middle
  margin-left 5px
  margin-right 5px
  cursor pointer
  span
    display block
    z-index 10
    width 16px
    height 16px
    position relative
    border-radius 50%
    border 2px solid $black
    anim(border-color, .25s)
    &:hover
      border-color $green
  &.active
    span
      top 0
      width 22px
      height 22px
      background-color $green
      border-color $green
/*!=================
  Extended classes
====================*/
.headling
  font-size 30px
  line-height 1
  display inline-block
  margin-bottom 40px
  letter-spacing .5px

.green-border-button
  display inline-block
  border 1px solid $green
  width 145px
  height 40px
  line-height 38px
  text-align center
  color $black
  anim(all, .25s)
  &:hover
    background-color $green
    color #fff


.burger,
.burger:hover,
.burger:active,
.burger:visited
  text-decoration: none;
  color: #a39f9e
.burger
  margin: 0
  display: inline-block;
.burger .burger-label
  line-height: 30px;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
.burger .burger-icon
  display: inline-block
  width: 36px
  height: 30px
.burger .burger-icon span,
.burger .burger-icon span:before,
.burger .burger-icon span:after
  display: block
  width: 100%
  height: 6px
  background: #a39f9e
  transition: all 0.5s
  backface-visibility: hidden
.burger .burger-icon span
  position: relative;
  margin: 0
.burger .burger-icon span:before,
.burger .burger-icon span:after
  position: absolute
  content: ""
.burger .burger-icon span:before
  top: -8px
.burger .burger-icon span:after
  top: 8px
.burger:hover .burger-icon span:before
  transform: translate(0px, -4px)
.burger:hover .burger-icon span:after
  transform: translate(0px, 4px)
.burger.selected .burger-icon span:before
  transform: translate(0px, 8px) rotate(-45deg)
.burger.selected .burger-icon span:after
  transform: translate(0px, -8px) rotate(45deg)
.burger.selected .burger-icon span
  background transparent
.menu-trigger
  position absolute
  left 2%
  top 18px
  display none
  z-index 20

/* Modals */
/* Dark ovelay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
  transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.5;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}

#small-dialog
  background: white;
  padding: 35px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  .mfp-close
    light()
    font-size 42px
    font-family 'Open Sans'
  .header
    h2
      position relative
      font-size 24px
      line-height 1
      padding-bottom 25px
      margin-bottom 25px
      &:after
        content ''
        height 3px
        width 75px
        background-color $green
        position absolute
        left 0
        bottom 0
    .small
      margin-bottom 25px
      light()
      cursor default
      font-size 16px
  form
    clearfix()
  input[type="text"]
    height 40px
    width 100%
    margin-bottom 10px
    border 1px solid $green
    padding-left 20px
    padding-right 20px
    light()
    font-size 16px
    &:focus
      border-width 3px
  input[type="submit"]
    float right
    width 160px
    height 40px
    line-height 40px
    background-color $green
    border none
    color #fff
    font-size 16px
    text-transform uppercase