/*========
  Global
=========*/
@import "components/variables.styl"
@import "components/mixins.styl"
@import "components/reset.styl"
@import "components/helpers.styl"

/*========
  Libs
=========*/
@import "lib/owl.carousel.styl"

/*========
  Layouts
=========*/
@import "layouts/header.styl"
@import "layouts/submenu.styl"
@import "layouts/footer.styl"
/*========
  Pages
=========*/
@import "project.styl"
@import "pages/index.styl"

/*========
  Responsive styles
=========*/
@import "media.styl"


@import "shame.styl"
