/*========
  Global
=========*/
@import "components/variables.styl"
@import "components/mixins.styl"
@import "components/reset.styl"
@import "components/helpers.styl"

/*========
  Libs
=========*/
// @import "lib/*.styl"

/*========
  Pages
=========*/
@import "project.styl"
@import "pages/index.styl"

/* Shame styles */
@import "shame.styl"
