/*========
  Global
=========*/
@import "components/variables.styl"
@import "components/mixins.styl"
@import "components/reset.styl"
@import "components/helpers.styl"

/*========
  Libs
=========*/
@import "lib/owl.carousel.styl"
@import "lib/magnific-popup.styl"
@import "lib/jquery.nouislider.styl"
@import "lib/jquery.mCustomScrollbar.styl"
@import "lib/cloudzoom.styl"

/*========
  Layouts
=========*/
@import "layouts/header.styl"
@import "layouts/submenu.styl"
@import "layouts/footer.styl"
@import "layouts/owl.styl"
@import "layouts/modals.styl"
@import "layouts/burger.styl"
@import "layouts/select.styl"
@import "layouts/items.styl"
/*========
  Pages
=========*/
@import "project.styl"
@import "pages/index.styl"
@import "pages/catalog.styl"
@import "pages/item.styl"

/*========
  Responsive styles
=========*/
@import "media.styl"


@import "shame.styl"
